<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="abouts.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/stocks">Market</a></li>
            <li><a href="/earnings">IBM</a></li>
            <li><a href="/nasa">Nasa</a></li>
            <% if (username) { %>
                <li style="float:right"><a class="active" href="/logout">Logout</a></li>
                <li style="float:right"><a class="active"><%= username %>!</a></li>
            <% } else { %>
                <li style="float:right"><a class="active" href="/register">Register</a></li>
                <li style="float:right"><a class="active" href="/login">Login</a></li>
            <% } %>
          </ul>
    </nav>
    <div style="text-align: center; font-size: large;">
        <h1>My name is Arman Erzen. I am a 2nd year student at AITU.</h1>

        <h1>My hobbies:</h1>
        <p>Table Tennis</p>
        <p>Playing games</p>
        <p>Programming</p>
        <p>Do sport</p>
        <p>Watching movies</p>

        <h1>My skills:</h1>
        <p>HTML, CSS, Javascript</p>
        <p>PostgreSQL, MongoDB</p>
        <p>Calculus, discrete</p>
        <p>Kyokushin Karate</p>
    </div>
    <footer>
        <p>Arman Erzen SE-2210</p>
    </footer>
</body>
</html>