<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Earnings</title>
    <link rel="stylesheet" href="charts.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/stocks">Market</a></li>
            <li><a href="/earnings">IBM</a></li>
            <li><a href="/nasa">Nasa</a></li>
            <% if (username) { %>
                <li style="float:right"><a class="active" href="/logout">Logout</a></li>
                <li style="float:right"><a class="active"><%= username %>!</a></li>
            <% } else { %>
                <li style="float:right"><a class="active" href="/register">Register</a></li>
                <li style="float:right"><a class="active" href="/login">Login</a></li>
            <% } %>
          </ul>
    </nav>
    <h1>IBM Annual Earnings</h1>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'bar',
        data: {
        labels: ["2023-12-31","2022-12-31","2021-12-31","2020-12-31","2019-12-31"],
        datasets: [{
            label: '# of reportedEPS',
            data: [9.61, 9.12, 9.97, 8.67, 12.81],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });
    </script>
    
</body>
</html>
